<%
var maxConsecutivePages = 8
var visiblePagesBeforeOrAfterCurrentPage = 3
var totalPages = hits ? Math.ceil(hits.total.value/queryParams.pageSize) : 1

function isCookiePolicyAccepted() {
    return false
}

function getPaginationStart(page, pageSize) {
    if (page <= visiblePagesBeforeOrAfterCurrentPage) {
        return 1
    } else if ((page + visiblePagesBeforeOrAfterCurrentPage) >= totalPages) {
        return totalPages - maxConsecutivePages + 1
    } else {
        return page - visiblePagesBeforeOrAfterCurrentPage;
    }
}
function getPaginationEnd(page, pageSize) {
    if (page <= visiblePagesBeforeOrAfterCurrentPage) {
        return maxConsecutivePages
    } else if ((page + visiblePagesBeforeOrAfterCurrentPage) >= totalPages) {
        return totalPages
    } else {
        return page + visiblePagesBeforeOrAfterCurrentPage;
    }
}
function getUrlWithNewParam(queryParams, key, value) {
    var params = []

    if (queryParams.queryTerms && queryParams.queryTerms.length > 0) {
        params['q'] = queryParams.queryTerms.join('+')
    }
    if (queryParams.view) {
        params['v'] = queryParams.view
    }
    if (queryParams.sort) {
        params['s'] = queryParams.sort
    }
    if (queryParams.filters && queryParams.filters.length > 0) {
        params['f'] = queryParams.filters.join(',')
    }
    if (queryParams.page) {
        params['p'] = queryParams.page
    }
    
    params[key] = value

    if (key !== 'p') {
        params['p'] = 0
    }
    if (key === 'q' || key === 'v') {
        params['f'] = null
    }

    var queryStringParams = updateQueryStringParameters(params)
    
    return queryStringParams
}

function updateQueryStringParameters(params) {         
    var uri = ''
    Object.keys(params).forEach(key => {
        if (params[key]) {
            uri = uri + "&" + key + "=" + params[key]
        }        
    });
    uri = uri.replace('&','?') // replace first &
    
    return uri
}

// https://stackoverflow.com/questions/15900485/correct-way-to-convert-size-in-bytes-to-kb-mb-gb-in-javascript
function formatBytes(bytes, decimals = 2) {
    if (bytes === 0) return '0 Bytes';

    const k = 1024;
    const dm = decimals < 0 ? 0 : decimals;
    const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];

    const i = Math.floor(Math.log(bytes) / Math.log(k));

    return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
}
%>
<!doctype html>
<html lang="en-GB">
<head>
    <% if (env === 'live') { %>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PXZ8RMF');</script>
    <!-- End Google Tag Manager -->
    
    <meta name="google-site-verification" content="T3MVOAxSUsUTVJ3NhvZvMHw6YMaNQKM4Xq1VsSj0rLw" />
    <% } %> 

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search | JNCC</title>
    <link rel="stylesheet" href="/assets/frontend/css/app.css">
    <link rel="shortcut icon" href="/assets/frontend/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" 
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/site.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
    <script>window.jQuery || document.write('<script src="/assets/frontend/js/lib/jquery-3.3.1.min.js" defer><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.0/js/foundation.min.js" defer></script>
    <script src="/assets/frontend/js/app.js" defer></script>
    <script src="/assets/js/app.js" defer></script>
</head>
<body>
    <noscript><div>Javascript must be enabled for the correct page display</div></noscript>
    
    <div id="wrapper">
        <a class="accessibility" href="#main" accesskey="S">Skip to Content</a>
        <header id="header">
            <div class="container">
                <strong class="logo">
                    <a href="https://jncc.gov.uk" accesskey="1"><img src="/assets/frontend/images/logo.png" alt="JNCC"></a>
                </strong>
                <form role="search" class="top-bar search-form input-group" id="search-form" novalidate="novalidate" data-animate="hinge-in-from-top spin-out">
                    <label for="search-field" class="show-for-sr" accesskey="4">Search:</label>
                    <input type="search" name="q" placeholder="Search jncc.gov.uk" class="input-group-field" id="search-field">
                    <button class="input-group-button" aria-label="search-button"><i class="icon-search"></i></button>
                </form>
                <div class="show-for-small-only">
                    <div class="title-bar" data-responsive-toggle="search-form" data-hide-for="medium">
                        <button type="button" class="search-opener" data-toggle="search-form" aria-label="search-opener"><i class="icon-search"></i></button>
                    </div>
                    <div class="title-bar" data-responsive-toggle="menu" data-hide-for="medium">
                        <button type="button" class="nav-opener" data-toggle="menu" data-responsive-toggle="menu" aria-label="navigation-opener"><span></span></button>
                    </div>
                </div>
            </div>
            <nav class="top-bar nav no-page-hero" id="menu" data-animate="hinge-in-from-top spin-out" aria-label="main-navigation">
				<div class="container mobileNavContainer">
					<ul class="vertical medium-horizontal menu dropdown" data-dropdown-menu data-click-open data-alignment="left"
                     style="vertical-align:middle;">
                        <li class="is-dropdown-submenu-parent">
                            <a href="https://jncc.gov.uk/our-role/">Our role</a>
                            <ul class="vertical menu nested">
                                <li class="">
                                    <a href="https://jncc.gov.uk/our-role/the-uk/">The UK</a>
                                </li>
                                <li class="">
                                    <a href="https://jncc.gov.uk/our-role/the-offshore-marine-environment/">The offshore marine environment</a>
                                </li>
                                <li class="">
                                    <a href="https://jncc.gov.uk/our-role/the-uks-overseas-territories/">The UK&#39;s Overseas Territories</a>
                                </li>
                                <li class="">
                                    <a href="https://jncc.gov.uk/our-role/international/">International</a>
                                </li>
                            </ul>
                        </li>
                        <li class="is-dropdown-submenu-parent">
                            <a href="https://jncc.gov.uk/monitoring/">Monitoring</a>
                            <ul class="vertical menu nested">
                                <li class="">
                                    <a href="https://jncc.gov.uk/monitoring/cost-effective-approaches/">Cost-effective approaches</a>
                                </li>
                                <li class="">
                                    <a href="https://jncc.gov.uk/monitoring/earth-observation/">Earth observation</a>
                                </li>
                                <li class="">
                                    <a href="https://jncc.gov.uk/monitoring/marine-monitoring-mapping/">Marine monitoring &amp; mapping</a>
                                </li>
                                <li class="">
                                    <a href="https://jncc.gov.uk/monitoring/analyses-trends/">Analyses &amp; trends</a>
                                </li>
                            </ul>
                        </li>
                        <li class="is-dropdown-submenu-parent">
                            <a href="https://jncc.gov.uk/evaluating/">Evaluating</a>
                            <ul class="vertical menu nested">
                                <li class="">
                                    <a href="https://jncc.gov.uk/evaluating/sustainable-global-supply-chains/">Sustainable global supply chains</a>
                                </li>
                                <li class="">
                                    <a href="https://jncc.gov.uk/evaluating/land-use/">Land use</a>
                                </li>
                                <li class="">
                                    <a href="https://jncc.gov.uk/evaluating/climate-change/">Climate change</a>
                                </li>
                            </ul>
                        </li>
                        <li class="is-dropdown-submenu-parent">
                            <a href="https://jncc.gov.uk/advice/">Advice</a>
                            <ul class="vertical menu nested">
                                <li class="">
                                    <a href="https://jncc.gov.uk/advice/improving-global-co-ordination-action/">Improving global co-ordination &amp; action</a>
                                </li>
                                <li class="">
                                    <a href="https://jncc.gov.uk/advice/offshore-industries/">Offshore Industries</a>
                                </li>
                                <li class="">
                                    <a href="https://jncc.gov.uk/advice/marine-protected-areas/">Marine Protected Areas</a>
                                </li>
                                <li class="">
                                    <a href="https://jncc.gov.uk/advice/sustainable-development-overseas/">Sustainable development overseas</a>
                                </li>
                            </ul>
                        </li>
                        <li class="is-dropdown-submenu-parent">
                            <a href="https://jncc.gov.uk/our-work/">Our work</a>
                            <ul class="vertical menu nested">
                                <li class="">
                                    <a href="https://jncc.gov.uk/our-work/our-work-a-z/">Our work A–Z</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menuitem">
                            <a href="https://hub.jncc.gov.uk/">Resources</a>
                        </li>
                        <li class="is-dropdown-submenu-parent">
                            <a href="https://jncc.gov.uk/about-jncc/">About JNCC</a>
                            <ul class="vertical menu nested">
                                <li class="">
                                    <a href="https://jncc.gov.uk/about-jncc/who-we-are/">Who we are</a>
                                </li>
                                <li class="">
                                    <a href="https://jncc.gov.uk/about-jncc/how-we-work/">How we work</a>
                                </li>
                                <li class="">
                                    <a href="https://jncc.gov.uk/about-jncc/our-performance/">Our performance</a>
                                </li>
                                <li class="">
                                    <a href="https://jncc.gov.uk/about-jncc/corporate-information/">Corporate information</a>
                                </li>
                                <li class="">
                                    <a href="https://jncc.gov.uk/about-jncc/jncc-blog/">JNCC Blog</a>
                                </li>
                                <li class="">
                                    <a href="https://jncc.gov.uk/about-jncc/careers/">Careers</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menuitem">
                            <a href="https://jncc.gov.uk/news/">News</a>
                        </li>
					</ul>
				</div>
			</nav>
        </header>

        <main id="main">
            <br />
            <div class="container">
                <h1>Search</h1>
                <p></p>
                <div class="grid-x grid-margin-x">
                    <div class="cell large-8 large-offset-2">
                        <div class="search-bar">
                            <form id="main-search-form" role="search" class="search-form input-group">
                                <input id="search-input" type="text" placeholder="Search the JNCC website" aria-label="Search" name="q" form="main-search-form" autofocus>
                                <button class="input-group-button" aria-label="main-search-button"><i class="icon-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <br class="hide-for-small-only" />
                <br class="hide-for-small-only" />
                <div class="two-columns stretch-layout staff-directory columns-reverse-layout">
                    <aside id="sidebar">
                        <label for="sort-select"><h2>Sort</h2></label>
                        <select id="sort-select" class="sort-select" name="s" form="main-search-form">
                            <option value="relevance">Best match</option>
                            <option value="title_asc">Title: A-Z</option>
                            <option value="title_desc">Title: Z-A</option>
                            <option value="date_asc">Published date: Oldest first</option>
                            <option value="date_desc">Published date: Newest first</option>
                        </select>
                        <% if (aggs && hits && hits.total.value > 0) { %>
                            <hr />
                            <form id="filter-form" class="staff-checkbox-form">
                                <h2>Filter</h2>
                                
                                <ul class="check-list no-bullet">
                                    <% if (aggs.file_types && aggs.file_types.buckets) { %>
                                        <% aggs.file_types.buckets.forEach(file_type => { %> 
                                            <li>
                                                <label for="<%= file_type.key %>">
                                                    <input id="<%= file_type.key %>" type="checkbox" name="<%= file_type.key %>" value="<%= file_type.key %>">
                                                    <span class="fake-input"></span><span class="fake-label"><%= file_type.key %> (<%= file_type.doc_count %>)</span>
                                                </label>
                                            </li>
                                        <% }) %> 
                                    <% } %>
                                    <% if (aggs.other && aggs.other.doc_count > 0) { %> 
                                        <li>
                                            <label for="other">
                                                <input id="other" type="checkbox" name="other" value="other">
                                                <span class="fake-input"></span><span class="fake-label">Other (<%= aggs.other.doc_count %>)</span>
                                            </label>
                                        </li>
                                    <% } %>
                                </ul>
                                <hr />
                            </form>
                        <% } %>
                    </aside>
                    <div id="content">
                        <ul id="results-tabs" class="tabs">
                            <li id="pages-tab-item" class="tabs-title <%= (queryParams.view !== 'resources') ? 'is-active' : '' %>">
                                <a href="<%= getUrlWithNewParam(queryParams, 'v', 'pages') %>"  id="pages-tab-link" aria-selected="<%= queryParams.view !== 'resources' %>">Pages</a>
                            </li>
                            <li id="resources-tab-item" class="tabs-title <%= (queryParams.view === 'resources') ? 'is-active' : '' %>">
                                <a href="<%= getUrlWithNewParam(queryParams, 'v', 'resources') %>" id="resources-tab-link" aria-selected="<%= queryParams.view === 'resources' %>">Resources</a>
                            </li>
                        </ul>
                        <br />
                        <% if (hits && queryParams.view !== 'resources') { %>
                            <p><%= hits.total.value %> page results
                            <% if (queryParams.queryTerms && queryParams.queryTerms.length > 0) { %>
                                for '<%= queryParams.queryTerms.join(' ') %>'
                            <% } %>
                            </p>
                            <% hits.hits.forEach(result => { %>
                                <h3><a href="<%- result._source.url %>"><%- result._source.title %></a></h3>
                                <span class="results-detail"><b>Published date</b> <%= result._source.published_date %></span>
                                <% if (result.highlight && result.highlight.content) { %>
                                <p><%- result.highlight.content.join(" ... ") %></p>
                                <% } else { %>
                                <p><%- result._source.content_truncated %></p>
                                <% } %>
                                <hr />
                            <% }) %>
                        <% } else if (hits) { %>
                            <p><%= hits.total.value %> resource results
                            <% if (queryParams.queryTerms && queryParams.queryTerms.length > 0) { %>
                                for '<%= queryParams.queryTerms.join(' ') %>'
                            <% } %>
                            </p>
                            <% hits.hits.forEach(result => { %>
                                <h3><a href="<%- result._source.url %>"><%- result._source.title %></a></h3>
                                <span class="results-detail"><b>Published date</b> <%= result._source.published_date %></span>
                                <% if (result._source.file_bytes > 0) { %> 
                                <span class="results-detail"><b>Size</b> <%= formatBytes(result._source.file_bytes) %></span>
                                <% } %> 
                                <span class="results-detail"><b>File type</b> <%= result._source.file_extension ? result._source.file_extension : "Other" %></span> 
                                <% if (result.highlight && result.highlight.content) { %>
                                <p><%- result.highlight.content %></p>
                                <% } else { %>
                                <p><%- result._source.content_truncated %></p>
                                <% } %>
                                <hr />
                            <% }) %>
                        <% } else { %>
                            <p>Oops something went wrong, no results found.</p>
                        <% } %>
                        <% if (hits && hits.total.value > 0) { %> 
                            <nav aria-label="Pagination" class="results-pager">
                                <ul class="pagination">
                                    <% if (queryParams.page === 1) { %>
                                        <li class="pagination-previous disabled">Previous</li>
                                    <% } else { %>
                                        <li class="pagination-previous"><a href="<%= getUrlWithNewParam(queryParams, 'p', queryParams.page - 1) %>">Previous</a></li>
                                    <% } %> 

                                    <% if (totalPages > maxConsecutivePages) { %>
                                        <% if ((queryParams.page - visiblePagesBeforeOrAfterCurrentPage) > 1) { %>
                                            <%# current page not near start so show page 1 %>
                                            <li><a href="<%= getUrlWithNewParam(queryParams, 'p', 1) %>">1</a></li>
                                            <% if ((queryParams.page - visiblePagesBeforeOrAfterCurrentPage) > 2) { %>
                                                <%# show ellipsis unless it would be redundant %>
                                                <li class="ellipsis" aria-hidden="true"></li>
                                            <% } %>
                                        <% } %>
                                        <% for (i = getPaginationStart(queryParams.page, queryParams.pageSize); i <= getPaginationEnd(queryParams.page, queryParams.pageSize); i++) { %>
                                            <%# show x pages either side of current page %>
                                            <% if (i === queryParams.page) { %>
                                                <li class="current">
                                            <% } else { %>
                                                <li>
                                            <% } %>  
                                                <a href="<%= getUrlWithNewParam(queryParams, 'p', i) %>"><%= i %></a>
                                            </li>
                                        <% } %>
                                        <% if ((queryParams.page + visiblePagesBeforeOrAfterCurrentPage) < totalPages) { %>
                                            <% if ((queryParams.page + visiblePagesBeforeOrAfterCurrentPage) !== (totalPages - 1)) { %>
                                                <%# show ellipsis unless it would be redundant %>
                                                <li class="ellipsis" aria-hidden="true"></li>
                                            <% } %>
                                            <%# current page not near start so show last page %>
                                            <li><a href="<%= getUrlWithNewParam(queryParams, 'p', totalPages) %>"><%= totalPages %></a></li>
                                        <% } %>
                                    <% } else { %>
                                        <%# show all pages without ellipsis %>
                                        <% for (i = 1; i <= totalPages; i++) { %>
                                            <% if (i === queryParams.page) { %> 
                                                <li class="current">
                                            <% } else { %>
                                                <li>
                                            <% } %>  
                                                <a href="<%= getUrlWithNewParam(queryParams, 'p', i) %>"><%= i %></a>
                                            </li>
                                        <% } %> 
                                    <% } %> 
                                    
                                    <% if (queryParams.page === totalPages) { %>
                                        <li class="pagination-next disabled">Next</li>
                                    <% } else { %>
                                        <li class="pagination-next"><a href="<%= getUrlWithNewParam(queryParams, 'p', queryParams.page + 1) %>">Next</a></li>
                                    <% } %>
                                </ul>
                            </nav>
                        <% } %> 
                        <br />
                    </div>
                </div>
            </div>
        </main>
        <footer id="footer" class="text-center medium-text-left">
			<div class="container">
				<div class="row" id="footer-nav">
					<div class="columns small-12 medium-4">
						<nav class="holder" aria-label="footer-navigation">
							<h3>About us</h3>
							<ul class="footer-nav no-bullet">
								<li><a href="https://jncc.gov.uk/about-jncc/">About JNCC</a></li>
								<li><a href="https://jncc.gov.uk/about-jncc/careers/">Careers</a></li>
								<li><a href="https://jncc.gov.uk/about-jncc/corporate-information/procurement/">Procurement</a></li>
							</ul>
						</nav>
					</div>
					<div class="columns small-12 medium-4">
						<nav class="holder" aria-label="footer-navigation">
							<h3>Our work</h3>
							<ul class="footer-nav no-bullet">
								<li><a href="https://jncc.gov.uk/our-work/our-work-a-z/">Our work A-Z</a></li>
								<li><a href="https://hub.jncc.gov.uk/">Resource hub</a></li>
								<li><a href="https://jncc.gov.uk/about-jncc/jncc-blog/">JNCC Blog</a></li>
								<li><a href="https://jncc.gov.uk/news/">News</a></li>
							</ul>
						</nav>
					</div>
					<div class="columns small-12 medium-4">
						<nav class="holder" aria-label="footer-navigation">
							<h3>Our services</h3>
							<ul class="footer-nav no-bullet">
								<li><a href="https://jncc.gov.uk/our-role/">Our role</a></li>
								<li><a href="https://jncc.gov.uk/monitoring/">Monitoring</a></li>
								<li><a href="https://jncc.gov.uk/evaluating/">Evaluating</a></li>
								<li><a href="https://jncc.gov.uk/advice/">Advice</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<ul class="social-media no-bullet">
					<li><a href="https://twitter.com/JNCC_UK" target="_blank"><span class="show-for-sr">twitter</span><i class="icon-twitter"></i></a></li>
					<li><a href="https://www.facebook.com/JNCCUK" target="_blank"><span class="show-for-sr">facebook</span><i class="icon-facebook"></i></a></li>
					<li><a href="https://www.linkedin.com/company/jncc" target="_blank"><span class="show-for-sr">linkedin</span><i class="icon-linkedin"></i></a></li>
					<li><a href="https://www.youtube.com/channel/UC14QLVv3QA1Xu6Fjdn7GJnw"><span class="show-for-sr">youtube</span><i class="icon-youtube"></i></a></li>
				</ul>
			</div>
			<div class="footer-bottom">
				<div class="container">
					<p>&copy; Joint Nature Conservation Committee, Monkstone House, City Road, Peterborough, PE1 1JY<br>Tel: 01733 562626 Fax: 01733 555948. Contact us:&nbsp;<a href="https://jncc.gov.uk/contact/?ref=search" title="contact" data-anchor="?ref=search">Enquiry form</a><br>JNCC SUPPORT CO. Registered in England and Wales. Company no. 05380206. Registered office as above</p>
					<ul class="footer-bottom-list no-bullet info">
						<li><a href="https://jncc.gov.uk/about-jncc/corporate-information/privacy-statement/">Privacy statement</a></li>
						<li><a href="https://jncc.gov.uk/about-jncc/corporate-information/accessibility-statement/">Accessibility statement</a></li>
						<li><a href="https://jncc.gov.uk/about-jncc/corporate-information/cookie-policy/">Cookie policy</a></li>
					</ul>
				</div>
			</div>
		</footer>
    </div>
    <a class="accessibility" href="#wrapper">Back to top</a>


    <!-- Cookie Consent Setup -->
    <div data-cookie-banner-container class="sticky-cookie"></div>

    <% if (env === 'live' || env === 'beta') { %>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PXZ8RMF"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <% } %>  
</body>
</html>